# XMTP Agent Sdk variables, generate using
XMTP_ENV="production" # local, dev, production
XMTP_WALLET_KEY="0x" # the private key of the wallet
XMTP_FORCE_DEBUG="false" # set to true to force detailed debugging logs
XMTP_DB_ENCRYPTION_KEY="" # (optional) a random 32 bytes encryption key for local db encryption
RAILWAY_VOLUME_MOUNT_PATH="." # custom db path with persistent data volume (set to `/app/data/` to deploy to railway)
